<div *ngIf="service">
    <h2 style="color: rgb(0, 0, 0);">Service Details</h2>
    <p style="color: rgb(0, 0, 0);"><strong>ServiceID:</strong> {{ service.serviceID}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Name:</strong> {{ service.name }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Description:</strong> {{ service.description }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Price:</strong> {{ service.price }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>IsAvailable:</strong> {{ service.isAvailable }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Image:</strong> {{ service.image }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>UnitOfMeasure:</strong> {{ service.unitOfMeasure }}</p>
  </div>