<div style="background-color: white; padding: 15px; border-radius: 4px; box-shadow: 0 0 8px rgba(0,0,0,0.1);">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0px;">
    <h3 style="margin: 0; color: #2c2c2d;">Bookings</h3>
    <div class="filters">
      <label>Choose status
       <select [(ngModel)]="statusIdFilter" style="padding: 6px; width: 200px;">
          <option value="">All Statuses</option>
          <option *ngFor="let status of bookingStatuses" [value]="status.id">
              {{ status.statusName }}
          </option>
       </select>
      </label>

      <label>
       From Date:
       <input type="date" [(ngModel)]="fromDateFilter" />
      </label>

     <label>
       To Date:
       <input type="date" [(ngModel)]="toDateFilter" />
     </label>

     <button style="background-color: #61affe; color: white;" (click)="applyFilters()">Apply</button>
     <button style="background-color: lightgrey; color: white;" (click)="clearFilters()">Clear</button>
  </div>

    <div style="margin-bottom: 15px; display: flex; gap: 15px; align-items: center;">

</div>
  </div>
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="text-align: left; cursor: pointer;" (click)="sortByID()">ID</th>
        <th style="text-align: left;">Contact</th>
         <th style="text-align: left;">Service</th>
        <th style="text-align: left; cursor: pointer;" (click)="sortByAddress()">Address</th>
        <th style="text-align: left;">Description</th>
        <th style="text-align: left;">BookingDate</th>
        <th style="text-align: left;">ServiceDate</th>
        <th style="text-align: left;">Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of filteredBookings">
        <td style="text-align: left;">{{ booking.bookingID }}</td>
        <td style="text-align: left;">{{ booking.contactName }}</td>
        <td style="text-align: left;">{{ booking.serviceName }}</td>
        <td style="text-align: left;">{{ booking.address }}</td>
        <td style="text-align: left;">{{ booking.description }}</td>
        <td style="text-align: left;">{{ booking.bookingDate  | date}}</td>
        <td style="text-align: left;">{{ booking.serviceDate  | date}}</td>
        <td style="text-align: left;">{{ booking.bookingStatusName}}</td>
        <td>
          <button 
            (click)="viewBookingDetails(booking)" 
            style="margin-right: 5px; background-color: rgb(97, 175, 254); color: white; border: none; padding: 5px 10px; border-radius: 4px;">
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>