<div style="background-color: white; padding: 15px; border-radius: 4px; box-shadow: 0 0 8px rgba(0,0,0,0.1);">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0px;">
    <h3 style="margin: 0; color: #2c2c2d;">Invoices</h3>
    <div class="filters">
      <label>
        Search client:
  <input type="text" [(ngModel)]="clientSearchTerm" (input)="filterClients()" placeholder="Search clients..." style="padding: 6px; width: 200px;" />
      </label>
      <label>
  Choose client:
  <select [(ngModel)]="clientFilter" style="padding: 6px; width: 200px; margin-top: 4px;">
    <option value="">All Clients</option>
    <option *ngFor="let client of filteredClients" [value]="client.userId">
      {{ client.firstName }} {{ client.lastName }}
    </option>
  </select>
</label>

       <label>
         Is Paid:
        <select [(ngModel)]="isPaidFilter">
           <option value="">All</option>
           <option value="true">Paid</option>
           <option value="false">Not Paid</option>
        </select>
      </label>

      <label>
       From Date:
       <input type="date" [(ngModel)]="fromDateFilter" />
      </label>

     <label>
       To Date:
       <input type="date" [(ngModel)]="toDateFilter" />
     </label>

     <button style="background-color: blue; color: white;" (click)="applyFilters()">Apply</button>
     <button style="background-color: rgb(186, 186, 186); color: white;" (click)="clearFilters()">Clear</button>
  </div>

    <div style="margin-bottom: 15px; display: flex; gap: 15px; align-items: center;">

</div>
  </div>
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="text-align: left; cursor: pointer;">ID</th>
        <th style="text-align: left; cursor: pointer;">Contact</th>
        <th style="text-align: left; cursor: pointer;">Service</th>
        <th style="text-align: left; cursor: pointer;">IssuedDate</th>
        <th style="text-align: left; cursor: pointer;">DueDate</th>
        <th style="text-align: left; cursor: pointer;">Quantity</th>
        <th style="text-align: left; cursor: pointer;">Amount</th>
        <th style="text-align: left; cursor: pointer;">Tax</th>
        <th style="text-align: left; cursor: pointer;">Total</th>
        <th style="text-align: left;">IsPaid</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of filteredInvoices">
        <td style="text-align: left;">{{ invoice.invoiceID }}</td>
        <td style="text-align: left;">{{ invoice.contactName }}</td>
        <td style="text-align: left;">{{ invoice.serviceName }}</td>
        <td style="text-align: left;">{{ invoice.issuedDate | date}}</td>
        <td style="text-align: left;">{{ invoice.dueDate | date }}</td>
        <td style="text-align: left;">{{ invoice.quantity }}</td>
        <td style="text-align: left;">{{ invoice.amount}}</td>
        <td style="text-align: left;">{{ invoice.tax }}</td>
        <td style="text-align: left;">{{ invoice.amount + invoice.amount * invoice.tax / 100}}</td>
        <td style="text-align: left;">{{ invoice.isPaid}}</td>
        <td>
          <button 
            (click)="viewInvoiceDetails(invoice)" 
            style="margin-right: 5px; background-color: rgb(97, 175, 254); color: white; border: none; padding: 5px 10px; border-radius: 4px;">
            View
          </button>
          <button 
            (click)="editInvoice(invoice.invoiceID)" 
            style="margin-right: 5px; background-color: rgb(254, 183, 97); color: white; border: none; padding: 5px 10px; border-radius: 4px;">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>