.dashboard-container {
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.stat-boxes {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.stat-box {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.stat-completed {
  background-color: #ffffff;
}

.stat-hours {
  background-color: #ffffff;
}

.stat-rating {
  background-color: #ffffff;
}

.stat-box h3 {
  margin-top: 0;
}
