<div *ngIf="booking">
    <h2 style="color: rgb(0, 0, 0);">Booking Details</h2>
    <p style="color: rgb(0, 0, 0);"><strong>BookingID:</strong> {{ booking.bookingID}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>UserID:</strong> {{ booking.userID}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>ServiceID:</strong> {{ booking.serviceID}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>BookingDate:</strong> {{ booking.bookingDate }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>BookingStatusID:</strong> {{ booking.bookingStatusId }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>ServiceDate:</strong> {{ booking.serviceDate}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>ContactName:</strong> {{ booking.contactName}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Address:</strong> {{ booking.address}}</p>
    <p style="color: rgb(0, 0, 0);"><strong>Price:</strong> {{ booking.price }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>IsPaid:</strong> {{ booking.isPaid }}</p>
    <p style="color: rgb(0, 0, 0);"><strong>PaymentMethod:</strong> {{ booking.paymentMethod }}</p>
  </div>